# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:

data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

display(data.head(), data.shape)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

(33702, 8)

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

data['Annual Salary'].head()

0     72510.0
1     93354.0
2         NaN
3    132972.0
4     90024.0
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

data['Annual Salary'].value_counts(dropna=False)

NaN         8174
90024.0     1743
84054.0     1500
93354.0     1469
72510.0     1307
            ...
113304.0       1
107112.0       1
80088.0        1
69720.0        1
65976.0        1
Name: Annual Salary, Length: 925, dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

table = pd.pivot_table(data, values=['Hourly Rate','Annual Salary'], index=['Salary or Hourly'], aggfunc={'Hourly Rate': ["count"], 'Annual Salary': ["count"]}, sort=True)

#Renaming columns

table.columns = ['Hourly_Employees', 'Salaried_Employees']

table

                  Hourly_Employees  Salaried_Employees
Salary or Hourly
Hourly                           0                8174
Salary                       25528                   0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
data.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

In [7]:
# Your code here:

table = pd.pivot_table(data, values=['Name'], index=['Department'], aggfunc={'Name': ["count"]}, sort=True)

#Renaming columns

table.columns = ['Num_Employees']

table

                     Num_Employees
Department
ADMIN HEARNG                    38
ANIMAL CONTRL                   75
AVIATION                      1856
BOARD OF ELECTION              111
BOARD OF ETHICS                  8
BUDGET & MGMT                   44
BUILDINGS                      258
BUSINESS AFFAIRS               167
CITY CLERK                      88
CITY COUNCIL                   362
COPA                           123
CULTURAL AFFAIRS                74
DAIS                          1033
DISABILITIES                    28
FAMILY & SUPPORT               656
FINANCE                        544
FIRE                          4627
HEALTH                         467
HOUSING                         66
HOUSING & ECON DEV             154
HUMAN RELATIONS                 17
HUMAN RESOURCES                 75
INSPECTOR GEN                   95
LAW                            398
LICENSE APPL COMM                1
MAYOR'S OFFICE                 104
OEMC                          1737
POLICE                       13848
POLICE BOARD                     2
PROCUREMENT                     84
PUBLIC LIBRARY                1088
PUBLIC SAFETY ADMIN            244
STREETS & SAN                 2175
TRANSPORTN                    1113
TREASURER                       28
WATER MGMNT                   1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:
import scipy.stats
from scipy.stats import ttest_1samp

scipy.stats.ttest_1samp ( a, popmean, axis=0, nan_policy='propagate', alternative='two-sided', * , keepdims=False )

In [9]:
# Extracting values (not Nan) to an array
hourly_rate_array = data['Hourly Rate'].dropna().values

hourly_rate_array

array([13.  , 37.45, 40.78, ..., 51.43, 49.35, 37.45])

In [10]:
# Total Mean

hourly_rate_array.mean()

34.58644971862002

In [11]:
# t test two-sided

stat, pval = ttest_1samp(hourly_rate_array, 30)

In [12]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

#print('pvalue for the one-tailed test is ', pval/2)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [13]:
# Difference between assigned mean 30 and the actual mean --> for 4.58$ less than actual mean

30 - hourly_rate_array.mean()

-4.586449718620017

In [14]:
scipy.stats.sem(hourly_rate_array)*stat

4.586449718620017

- As pvalue for the two-sided is lower than alpha (significance level 0.05), we found strong evidence against H0 (or Null hypothesis) and therefore we reject it:


    - hourly wage of all hourly workers is NOT significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [15]:
# Looking for police employees who are salaried

police_salaried = data[(data['Department']=='POLICE') & (data['Salary or Hourly']=='Salary')]

police_salaried.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

In [16]:
# Extracting an array of 'Annual Salary' values from the previous subset

police_salaried_array = police_salaried['Annual Salary'].to_numpy()

police_salaried_array

array([ 93354.,  90024., 111444., ...,  76266.,  90024.,  93354.])

In [17]:
# Possible to do in one line?

#police_array = np.where((data['Department']=='POLICE') & (data['Salary or Hourly']=='Salary'))

In [18]:
# t test one-sided

stat, pval = ttest_1samp(police_salaried_array, 86000)

In [19]:
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

#print('pvalue for the two-tailed test is ', pval)

stat is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

- As pvalue for the one-sided is lower than alpha (significance level 0.05), we found strong evidence against H0 (or Null hypothesis) and therefore we reject it:


    -  salaries this year are NOT higher than last year's mean of $86000/year a year for all salaried employees.

Using the `crosstab` function, find the department that has the most hourly workers.

In [20]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [21]:
# Filtering between salary / hourly employees in each department

hourly_workers = pd.crosstab(data['Department'], data['Salary or Hourly'] == 'Hourly')
hourly_workers

# Counting each type of employees in each department

hourly_count = hourly_workers[True].sort_values(ascending=False)
hourly_count.head()

Department
STREETS & SAN    1846
WATER MGMNT      1558
AVIATION         1214
OEMC             1077
DAIS              745
Name: True, dtype: int64

In [22]:
# Finding the department with the most count of hourly employees.

most_hourly_department = hourly_count.index[0]

most_hourly_department

'STREETS & SAN'

- STREETS & SAN department is the one with the most hourly employees.

In [23]:
# in one line:
#most_hourly_department = pd.crosstab(data['Department'], data['Salary or Hourly'] == 'Hourly')[True].idxmax()
#most_hourly_department

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [24]:
# Extracting data from 'STREETS&SAN' department

streets_san_data = data[data['Department']=='STREETS & SAN']

streets_san_data
                       
# Extracting an array of 'Hourly Rate' values from the previous subset

streets_san_array = streets_san_data['Hourly Rate'].dropna().values

streets_san_array

array([40.78, 38.52, 38.52, ..., 37.45, 38.52, 25.95])

In [25]:
# t test one-sided

stat, pval = ttest_1samp(streets_san_array, 35)

In [26]:
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

#print('pvalue for the two-tailed test is ', pval)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

- As pvalue for the one-sided is lower than alpha (significance level 0.05), we found strong evidence against H0 (or Null hypothesis) and therefore we reject it:


    -  Workers from Streets&San department hourly wage is NOT less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [27]:
# Previous array (mean hourly wage of all hourly workers)

hourly_rate_array

array([13.  , 37.45, 40.78, ..., 51.43, 49.35, 37.45])

In [28]:
# import scipy.stats

# Constructing confidence interval

confidence_level = 0.95
degrees_freedom = len(hourly_rate_array) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourly_rate_array)

# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_rate_array) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [29]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [30]:
# Previous array (salaried police employees)

police_salaried_array

array([ 93354.,  90024., 111444., ...,  76266.,  90024.,  93354.])

In [31]:
# import scipy.stats

# Constructing confidence interval

confidence_level = 0.95
degrees_freedom = len(police_salaried_array) - 1  
sample_mean = np.mean(police_salaried_array)

sample_standard_error = scipy.stats.sem(police_salaried_array)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [32]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [33]:
# Your code here: